<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <form action="/login" method="post">
            <h1 class=" abc">Login</h1>
            <div class="input-box abc">
                <input type="text" placeholder="Username" name="username"> 
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-box abc">
                <input type="text" name="password" placeholder="Password">
                <i class="bx bxs-lock-alt"></i>
            </div>  
           <button type="submit" class="btn abc">Login</button>
        </form>
    </div>

    <div id="error" class="hide">
        <p>Wrong Credentials!...... try again.</p>
    </div>

<% if(locals.status) { %>
    <script>
        document.getElementById("error").classList.toggle("hide")
    </script>
<% } %>
</body>
</html>